@use '../mixins';

.companies {
  text-align: center;

  &__list {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    cursor: pointer;
  }

  @include mixins.min-width(medium) {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 15rem;
    }
  }
}
