$color-primary: #DFB760;
//hintergrund vom button zB get in touch und auch (in lighten version) hintergrund Bilder
$color-dark: #d02dcd;
//??? 

$color-bg: #000000; //#1C2543;
//background of page
$color-body: #FFFFFF;
//text auf der webseite